<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SP-HWVM</title>
        <link rel="stylesheet" href="static/style2.css">
    </head>

    <body>

        <section>
            <h1>Water Used</h1>
            <h3>(Litres)</h3>
            
          </section>

          <div id="square_obj">
            <h2>Money Collected</h2>
            <h4>($ JMD)</h4>
          </div>
        

        <footer>

            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>

            <ul class="social_icon">
                <li><a href="#"><ion-icon name="earth-outline"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="earth-outline"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="earth-outline"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="earth-outline"></ion-icon></a></li>
            </ul>
            <ul class="menu">
                <li><b>Project Background</b></li>
            </ul>
            <p class="bk">The city is experiencing rapid urbanization which places severe stress on the basic municipal water supply and sanitation. Water supply system which poses risks to the citizens and tourists to access safe and clean water especially during natural disasters or lockdown due to pandemic. Jamaica water supply are interested in exploring alternative, reliable and cost effective decentralized water supply systems to tackle the situation during the COVID 19 pandemic and anticipated natural disasters. It is also worth noting that the poor access to clean water supply increases the spread of communicable diseases.</p>
            

        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>

</html>
