<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <div class="loginbox">
            <h1>Welcome to HWVM Monitoring</h1>
            <form action = '/login' method = 'POST'>
                <b><p>Username:</p> </b>
                <p><input id = "identifier" type = "text" name = "nm" > </p>
                <b><p>Password:</p></b> 
                <p><input id = "credential" type = "password" name = "pw" required > </p>
                <p><input id = "enter" type = "submit" Value = "Enter"/></p>
            </form>
        </div>

    </body>